In [6]:
%CREATE sql/database.db mydb

In [3]:
CREATE TABLE users (
    id int,
    firstname text,
    lastname text
);

In [4]:
INSERT INTO users values (0, "John", "Doe");

In [5]:
SELECT * FROM users

+----+-----------+----------+
| id | firstname | lastname |
+----+-----------+----------+
| 0  | John      | Doe      |
+----+-----------+----------+