In [51]:
%LOAD sqlite3 db=db.sqlite3

In [52]:
DROP TABLE IF EXISTS users;

In [53]:
CREATE TABLE users (
    id int,
    firstname text,
    lastname text
);

In [54]:
INSERT INTO users values (0, "John", "Doe");

In [55]:
SELECT * FROM users

+----+-----------+----------+
| id | firstname | lastname |
+----+-----------+----------+
| 0  | John      | Doe      |
+----+-----------+----------+
1 row in set (0.00 sec)